
.toppad {
  margin-top: 13vh;
}

.inp {
  display: flex;
  flex-direction: row;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-left: 28px;
}
.cancel{
    padding: 6px;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    background-color: none ;
    margin-right: 26px;
    margin-top: 10px;

}
.submit{
    padding: 6px;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    background-color: none ;
    margin-right: 26px;
    margin-top: 10px;
}
.card {
  padding: 30px;
  border: 1px solid #000;
  height: 100%;
  width: 80vw;
  margin: 10% auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 12px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.container3 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-danger {
  height: 35px;
  background-color: red;
  color: #fff;
  border:none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif !important;
}

.btn-primary {
  height: 35px;
  background-color: green;
  color: #fff;
  border:none !important;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
  margin-right: 45%;
  font-family: 'Poppins', sans-serif;
}

.btn-warning {
  height: 35px;
  background-color: rgb(255, 166, 0);
  color: #fff;
  border:none !important;
  border-radius: 5px;
  text-decoration: none;
  width: 50px;
  font-family: 'Poppins', sans-serif !important;
}

.responsive-table {
  margin: 0;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table1 .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
}

.responsive-table1 li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;

  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  flex-basis: 10%;
}

.responsive-table .col-2 {
  flex-basis: 40%;
}

.responsive-table .col-3 {
  flex-basis: 25%;
  text-align: center;
}

.responsive-table .col-4 {
  flex-basis: 25%;
}

.responsive-table1 .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.col1 {
  flex: 0 0 33.33333%;
  max-width: 20%;
}

.col5 {
  flex: 0 0 41.66667%;
  word-break: break-word;
}

@media all and (min-width: 768px) {
  .col5 {
    flex: auto;
    word-break: break-word;
  }

  .col-2 {
    flex: 0 0 16.66667%;
    word-break: break-word;
    max-width: 27.66667%;
  }

  .col8 {
    padding-left: 16vw;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 16%;
  }

  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 15.33333%;
  }

  .responsive-table1 li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }

  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 100%;
  }

  .responsive-table1 .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table1 .col {
    flex-basis: 100%;
  }

  .col1 {
    flex: 0 0 33.33333%;
    max-width: 100%;
  }

  .responsive-table1 .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table1 li {
    display: block;
  }

  .responsive-table1 .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    word-break: keep-all;
    text-align: right;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    word-break: keep-all;
    text-align: right;
  }

  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 100%;
    word-break: break-word;
  }
}

@media all and (max-width: 380px) {
  .responsive-table .col {
    font-size: 14px;
    word-break: break-word;
  }
}
